
<div class="col-xs-3" style="background-color: orange;">
    <h2>User info</h2>
        <img>
        <P>ここに写真が入ります</p>
        <table>
            <tr>
             <th>name</th>
             <th>ここに名前が入ります</th>
            </tr>
            <tr>
                <th>introduction</th>
                <th>ここに紹介が入ります</th>
            </tr>
        </table>
        <a href="books">Edit</a>
        <h2>New book</h2>
         
        <form>
            <p>Title</p>
            <input type="text"></input>
            <p>Opinion</p>
            <textarea></textarea>
            <p><input type="submit" value="Create Book"></p>
        </form>
</div>
