<main>
<%= render 'books/list' %>
<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <h1>Books</h1>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>写真</td>
          <td>タイトル</td>
          <td>opinion</td>
        </tr>
        <tr>
          <td>写真</td>
          <td>タイトル</td>
          <td>opinion</td>
        </tr>
        <tr>
          <td>写真</td>
          <td>タイトル</td>
          <td>opinion</td>
        </tr>
        <tr>
          <td>写真</td>
          <td>タイトル</td>
          <td>opinion</td>
        </tr>
        <tr>
          <td>写真</td>
          <td>タイトル</td>
          <td>opinion</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
</main>

<%# 部分テンプレートのサイドバー挿入 %>