/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    color: white;
}
header 
.navbar-left
span{
    font-size: 20px;
    padding-top: 10px;
}
main{
    margin-top: 51px;
    width: 100%;
}
.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2{
    margin-top: 20px;
    margin-bottom: 10px;
}


.col-offset-9{
    margin-left: 75%;
}

.edit-text{
    margin-bottom: 5px;
}
.form{
    margin-bottom: 10px;
}
.field{
    margin-bottom: 10px;
}
.error_explanation{
    margin: 10px 0 0;
    color: red;
}
.actions{
    margin-bottom: 10px;
}
a:visited{
    color: #666;
}
#notice{
    color: green;
}
th{
    border-top: 1px solid gray;
    padding: 8px;
}
.left-table{
    margin-bottom: 20px;
}
table{
    width: 100%;
}